USE [webInterface]
GO
/****** Object:  Table [dbo].[permissions_role]    Script Date: 3/15/2025 12:10:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions_role](
	[permissions_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[permissions_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[permissions_role]  WITH NOCHECK ADD FOREIGN KEY([permissions_id])
REFERENCES [dbo].[permissions] ([permissions_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[permissions_role]  WITH NOCHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
ON DELETE CASCADE
GO
