-- ============================================= 
-- Author:      Alejandro Escobedo
-- Create date: 2025-03-12
--    v1.0   2025-03-12 aescobedo Initial version

-- Description: Stored procedure for sp Add VM.
-- =============================================
USE [webInterface]
GO
/****** Object:  StoredProcedure [dbo].[sp_Add_VM]    Script Date: 3/12/2025 2:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Add_VM]
    @proxmox_vm_id TINYINT,
    @proxmox_vm_name VARCHAR(255),
    @proxmox_id INT,
    @vm_type_id INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.VMs (proxmox_vm_id, proxmox_vm_name, proxmox_id, vm_type_id)
    VALUES (@proxmox_vm_id, @proxmox_vm_name, @proxmox_id, @vm_type_id);
END;
GO
