USE [webInterface]
GO
/****** Object:  StoredProcedure [dbo].[sp_generate_api_token]    Script Date: 3/12/2025 12:50:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_generate_api_token]
    @token_id INT,
    @pve_api_token NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Ensure the token exists before generating the API token
    IF NOT EXISTS (SELECT 1 FROM dbo.proxmox_api_tokens WHERE token_id = @token_id)
    BEGIN
        PRINT 'ERROR: The provided token_id does not exist in proxmox_api_tokens.';
        RETURN;
    END

    -- Generate the API token dynamically
    SELECT 
        @pve_api_token = [user_name] + '!' + token_name + '=' + [secret]
    FROM 
        dbo.proxmox_api_tokens
    WHERE 
        token_id = @token_id;

    -- Return the generated API token
    SELECT @pve_api_token AS GeneratedAPIToken;
END;
GO
