-- ============================================= 
-- Author:      Alejandro Escobedo
-- Create date: 2025-03-12
--    v1.0   2025-03-12 aescobedo Initial version

-- Description: Stored procedure for sp Create VMType.
-- =============================================
USE [webInterface]
GO
/****** Object:  StoredProcedure [dbo].[sp_Create_VMType]    Script Date: 3/12/2025 2:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Create_VMType]
    @TypeName NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if the VM type already exists
    IF EXISTS (SELECT 1 FROM dbo.vm_types WHERE type_name = @TypeName)
    BEGIN
        PRINT 'Error: VM Type already exists!';
        RETURN;
    END

    -- Insert new VM type
    INSERT INTO dbo.vm_types (type_name)
    VALUES (@TypeName);

    PRINT 'Success: VM Type created!';
END;
GO
