-- ============================================= 
-- Author:      Alejandro Escobedo
-- Create date: 2025-03-12
--    v1.0   2025-03-12 aescobedo Initial version

-- Description: Stored procedure for sp Add Proxmox VM.
-- =============================================
USE [webInterface]
GO
/****** Object:  StoredProcedure [dbo].[sp_Add_Proxmox_VM]    Script Date: 3/12/2025 2:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Add_Proxmox_VM]
    @proxmox_host_name VARCHAR(255),
    @proxmox_node_name VARCHAR(255),
    @proxmox_url VARCHAR(255),
    @proxmox_api_base VARCHAR(255),
    @proxmox_port INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.VM_Proxmox (proxmox_host_name, proxmox_node_name, proxmox_url, proxmox_api_base, proxmox_port)
    VALUES (@proxmox_host_name, @proxmox_node_name, @proxmox_url, @proxmox_api_base, @proxmox_port);

    -- Return the newly created Proxmox ID
    SELECT SCOPE_IDENTITY() AS proxmox_id;
END;
GO
